@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    /* color: #edf0f1; */
    text-decoration: none;
}

.logo {
    /* background-color: #fff; */
    /* color: #edf0f1; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    /* color: #fff; */
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

header a {
    color: #fff;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #ff9900;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

main {
    display: flex;
    flex: 1;
}

aside {
    background-color: #eee;
    flex: 0 0 250px;
    /* height: calc(100vh - 60px - 20px); */
    height: 100vh;
    /* subtract header and footer heights */
    overflow-y: auto;
    padding: 0px;
}

aside h2 {
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

aside button {
    cursor: pointer;
    background-color: #ddd;
    border: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    
    /* border radius on */
    /* border-radius: 10px; */
}

aside button:hover {
    background-color: #ccc;
    /* border-radius: 10px; */
}

section {
    flex: 1;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}