/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: #c1ddf4;
}

/* Style the navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* Style the logo */
.logo img {
    width: 50px;
    height: 50px;
}

/* Style the navigation links */
.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

/* Style the user buttons */
.user-buttons img {
    width: 40px;
    height: 40px;
}