<nav class="top-navbar">
    <div class="logo">
        <a href="/pages/home"><img src="/icons/home.png" alt="Home" width="50px" height="50px"></a>
    </div>
    <ul class="nav-links">
        <li><a href="/pages/samples">Samples</a></li>
        <li><a href="/pages/about">About</a></li>
        <li><a href="/pages/dashboard">Dashboard</a></li>
        <li><a href="/pages/dynamic">Dynamic test</a></li>
    </ul>
    <div class="user-buttons">
        <a href="#"><img src="/icons/profile.png" alt="User" width="50px" height="50px"></a>
    </div>
</nav>