<a href="/pages/home"><img class="logo" src="/icons/logo.svg" alt="Home"></a>
<nav>
    <ul class="nav-links">
        <li><a href="/pages/samples">Samples</a></li>
        <!-- <li><a href="/pages/about">About</a></li> -->
        <li><a href="/pages/dashboard">Dashboard</a></li>
    </ul>
</nav>
<a class="cta" href="#"><button>Contact</button></a>