<!DOCTYPE html>
<html>
    <head>
        <title>Elastic Beanstalk App</title>
    </head>

    <body>
        <h1>Welcome to the demo for ElasticBeanstalk</h1>
        <a href="/test">Call the test API</a><br>
        <a href="/graph">test graph 1</a><br>
        <a href="/dynamic-page">test graph 2</a><br>
        <a href="/">index</a><br>
        <a href="/apex/line/1">Line: Basic Line Chart</a><br>
        <a href="/apex/line/2">Line: Line Chart with dataLabels</a><br>
        <a href="/apex/area/1">Area: Basic Area Chart</a><br>
        <a href="/apex/area/2">Area: Spline area</a><br>
        <a href="/apex/bar/1">Bar: Basic Column Chart</a><br>
        <a href="/">index</a><br>
        <a href="/">index</a><br>
    </body>
</html>
