<!DOCTYPE html>
<html>
    <head>
        <title>Elastic Beanstalk App</title>
    </head>

    <body>
        <h1>Welcome to the demo for ElasticBeanstalk</h1>
        <a href="/test">Call the test API</a><br>
        <a href="/graph">test graph 1</a><br>
        <a href="/dynamic-page">test graph 2</a><br>
        <a href="/">index</a><br>
        <a href="/apex/line/1">Line: Basic Line Chart</a><br>
        <a href="/apex/line/2">Line: Line Chart with dataLabels</a><br>
        <br>
        <a href="/apex/area/1">Area: Basic Area Chart</a><br>
        <a href="/apex/area/2">Area: Spline area</a><br>
        <br>
        <a href="/apex/bar/1">Bar: Basic Column Chart</a><br>
        <a href="/apex/bar/2">Bar: Column Chart with dataLabels</a><br>
        <a href="/apex/bar/3">Bar: Stacked Column Chart</a><br>
        <a href="/apex/bar/4">Bar: 100% Stacked Column Chart</a><br>
        <a href="/apex/bar/5">Bar: Column Chart with Markers</a><br>
        <a href="/apex/bar/6">Bar: Column Chart with Grouped X-Axis labels</a><br>
        <br>
        <a href="/apex/mixed/1">Mixed: Line & Column Chart</a><br>
        <a href="/apex/mixed/2">Mixed: Multiple Y-axis Chart</a><br>
        <a href="/apex/mixed/3">Mixed: Line & Area Chart</a><br>
        <a href="/apex/mixed/4">Mixed: Line, Column & Area Chart</a><br>
        <br>
        
    </body>
</html>
