<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head'); %>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body class="container">
    <header><%- include('../../partials/header'); %></header>

    <!-- contents -->

    <!-- <main>
        <div class="jumbotron">
            <h1>This is Home Page</h1>
            <p>Welcome to Code Techies...</p>
        </div>
    </main> -->
    <div id="chart"></div>
    <script>
        var options = {
            series: [{
                name: 'Metric1',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric2',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric3',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric4',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric5',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric6',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric7',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric8',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            },
            {
                name: 'Metric9',
                data: generateData(18, {
                    min: 0,
                    max: 90
                })
            }
            ],
            chart: {
                height: 350,
                type: 'heatmap',
            },
            dataLabels: {
                enabled: false
            },
            colors: ["#008FFB"],
            title: {
                text: 'HeatMap Chart (Single color)'
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

    <footer><%- include('../../partials/footer'); %></footer>
</body>

</html>