<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head'); %>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
    <header><%- include('../partials/header'); %></header>
    <main>
        <%- include('./dashboard/sg_contents'); %>

            <section>
                <div id="data"></div>
                <script>
                    fetch('/data/1')
                        .then(response => response.json())
                        .then(data => {
                            // console.log(typeof(data));
                            const jsonData = JSON.stringify(data, null, 2);
                            // console.log(typeof(jsonData));

                            // document.getElementById('data').innerHTML = '<pre>' + jsonData + '</pre>';
                            render_chart1(data);
                        })
                        .catch(error => console.error(error));

                    fetch('/data/2')
                        .then(response => response.json())
                        .then(data => {
                            // console.log(typeof(data));
                            const jsonData = JSON.stringify(data, null, 2);
                            // console.log(typeof(jsonData));

                            // document.getElementById('data').innerHTML = '<pre>' + jsonData + '</pre>';
                            render_chart2(data);
                        })
                        .catch(error => console.error(error));

                    fetch('/data/3')
                        .then(response => response.json())
                        .then(data => {
                            // console.log(typeof(data));
                            const jsonData = JSON.stringify(data, null, 2);
                            // console.log(typeof(jsonData));

                            // document.getElementById('data').innerHTML = '<pre>' + jsonData + '</pre>';
                            render_chart3(data);
                        })
                        .catch(error => console.error(error));
                </script>

                <!-- sg-data1/0403-0408/max_mean_min_raw.json -->
                <div id="chart1" style="padding: 0 200px;"></div>
                <script>
                    var options_chart1 = {
                        series: [],
                        chart: {
                            height: 350,
                            type: 'rangeArea',
                            animations: {
                                speed: 500
                            }
                        },
                        // colors: ['#d4526e', '#33b2df', '#d4526e', '#33b2df'],
                        dataLabels: {
                            enabled: false
                        },
                        // fill: {
                        //     opacity: [0.24, 0.24, 1, 1]
                        // },
                        forecastDataPoints: {
                            count: 2
                        },
                        // stroke: {
                        //     curve: 'straight',
                        //     width: [0, 0, 2, 2]
                        // },
                        legend: {
                            show: true,
                            // customLegendItems: ['Team B', 'Team A'],
                            inverseOrder: true
                        },
                        title: {
                            text: '날짜별, 품목별, 등급별, 최대, 최소, 평균 가격 (Combo)'
                        },
                        markers: {
                            hover: {
                                sizeOffset: 5
                            }
                        }
                    };
                    var viewoption_chart1 = {
                        PUMMOK: '사과',
                        PUMJONG: '',
                        DDD: ''
                    }

                    // 표시용 데이터를 분류하고, 그래프를 그린다.
                    function render_chart1(series) {
                        let classified_series = classify_chart1_data(series);

                        options_chart1.series = classified_series;

                        var chart = new ApexCharts(document.querySelector("#chart1"), options_chart1);
                        chart.render();
                    }

                    // 표시용 데이터를 분류한다.
                    function classify_chart1_data(series) {
                        var classified_series = [];
                        // console.log(series);

                        for (var i = 0; i < series.length; i++) {
                            namesplit = series[i].name.split('-');
                            // console.log(namesplit);
                            // console.log('pummok : ', namesplit[0]);
                            // console.log('pumjong : ', namesplit[1]);
                            // console.log('ddd : ', namesplit[2]);

                            PUMMOK = viewoption_chart1.PUMMOK;
                            PUMJONG = viewoption_chart1.PUMJONG;
                            DDD = viewoption_chart1.DDD;

                            if (PUMMOK == namesplit[0] || PUMMOK == '') {
                                if (PUMJONG == namesplit[1] || PUMJONG == '') {
                                    if (DDD == namesplit[2] || DDD == '') {
                                        classified_series.push(series[i]);
                                    }
                                }
                            }
                            // break;
                        }

                        return classified_series;
                    }
                    // var options_chart1 = {
                    //     series: [
                    //         {
                    //             type: 'rangeArea',
                    //             name: 'Team B Range',

                    //             data: [
                    //                 {
                    //                     x: 'Jan',
                    //                     y: [1100, 1900]
                    //                 },
                    //                 {
                    //                     x: 'Feb',
                    //                     y: [1200, 1800]
                    //                 },
                    //                 {
                    //                     x: 'Mar',
                    //                     y: [900, 2900]
                    //                 },
                    //                 {
                    //                     x: 'Apr',
                    //                     y: [1400, 2700]
                    //                 },
                    //                 {
                    //                     x: 'May',
                    //                     y: [2600, 3900]
                    //                 },
                    //                 {
                    //                     x: 'Jun',
                    //                     y: [500, 1700]
                    //                 },
                    //                 {
                    //                     x: 'Jul',
                    //                     y: [1900, 2300]
                    //                 },
                    //                 {
                    //                     x: 'Aug',
                    //                     y: [1000, 1500]
                    //                 }
                    //             ]
                    //         },

                    //         {
                    //             type: 'rangeArea',
                    //             name: 'Team A Range',
                    //             data: [
                    //                 {
                    //                     x: 'Jan',
                    //                     y: [3100, 3400]
                    //                 },
                    //                 {
                    //                     x: 'Feb',
                    //                     y: [4200, 5200]
                    //                 },
                    //                 {
                    //                     x: 'Mar',
                    //                     y: [3900, 4900]
                    //                 },
                    //                 {
                    //                     x: 'Apr',
                    //                     y: [3400, 3900]
                    //                 },
                    //                 {
                    //                     x: 'May',
                    //                     y: [5100, 5900]
                    //                 },
                    //                 {
                    //                     x: 'Jun',
                    //                     y: [5400, 6700]
                    //                 },
                    //                 {
                    //                     x: 'Jul',
                    //                     y: [4300, 4600]
                    //                 },
                    //                 {
                    //                     x: 'Aug',
                    //                     y: [2100, 2900]
                    //                 }
                    //             ]
                    //         },

                    //         {
                    //             type: 'line',
                    //             name: 'Team B Median',
                    //             data: [
                    //                 {
                    //                     x: 'Jan',
                    //                     y: 1500
                    //                 },
                    //                 {
                    //                     x: 'Feb',
                    //                     y: 1700
                    //                 },
                    //                 {
                    //                     x: 'Mar',
                    //                     y: 1900
                    //                 },
                    //                 {
                    //                     x: 'Apr',
                    //                     y: 2200
                    //                 },
                    //                 {
                    //                     x: 'May',
                    //                     y: 3000
                    //                 },
                    //                 {
                    //                     x: 'Jun',
                    //                     y: 1000
                    //                 },
                    //                 {
                    //                     x: 'Jul',
                    //                     y: 2100
                    //                 },
                    //                 {
                    //                     x: 'Aug',
                    //                     y: 1200
                    //                 },
                    //                 {
                    //                     x: 'Sep',
                    //                     y: 1800
                    //                 },
                    //                 {
                    //                     x: 'Oct',
                    //                     y: 2000
                    //                 }
                    //             ]
                    //         },
                    //         {
                    //             type: 'line',
                    //             name: 'Team A Median',
                    //             data: [
                    //                 {
                    //                     x: 'Jan',
                    //                     y: 3300
                    //                 },
                    //                 {
                    //                     x: 'Feb',
                    //                     y: 4900
                    //                 },
                    //                 {
                    //                     x: 'Mar',
                    //                     y: 4300
                    //                 },
                    //                 {
                    //                     x: 'Apr',
                    //                     y: 3700
                    //                 },
                    //                 {
                    //                     x: 'May',
                    //                     y: 5500
                    //                 },
                    //                 {
                    //                     x: 'Jun',
                    //                     y: 5900
                    //                 },
                    //                 {
                    //                     x: 'Jul',
                    //                     y: 4500
                    //                 },
                    //                 {
                    //                     x: 'Aug',
                    //                     y: 2400
                    //                 },
                    //                 {
                    //                     x: 'Sep',
                    //                     y: 2100
                    //                 },
                    //                 {
                    //                     x: 'Oct',
                    //                     y: 1500
                    //                 }
                    //             ]
                    //         }
                    //     ],
                    //     chart: {
                    //         height: 350,
                    //         type: 'rangeArea',
                    //         animations: {
                    //             speed: 500
                    //         }
                    //     },
                    //     colors: ['#d4526e', '#33b2df', '#d4526e', '#33b2df'],
                    //     dataLabels: {
                    //         enabled: false
                    //     },
                    //     fill: {
                    //         opacity: [0.24, 0.24, 1, 1]
                    //     },
                    //     forecastDataPoints: {
                    //         count: 2
                    //     },
                    //     stroke: {
                    //         curve: 'straight',
                    //         width: [0, 0, 2, 2]
                    //     },
                    //     legend: {
                    //         show: true,
                    //         customLegendItems: ['Team B', 'Team A'],
                    //         inverseOrder: true
                    //     },
                    //     title: {
                    //         text: '날짜별, 품목별, 등급별, 최대, 최소, 평균 가격 (Combo)'
                    //     },
                    //     markers: {
                    //         hover: {
                    //             sizeOffset: 5
                    //         }
                    //     }
                    // };

                    // var chart = new ApexCharts(document.querySelector("#chart1"), options);
                    // chart.render();
                </script>

                <!-- sg-data1/0403-0408/date_pummok_mean.json -->
                <div id="chart2" style="padding:0 200px"></div>
                <script>
                    var options_chart2 = {
                        chart: {
                            type: 'line'
                        },
                        series: [],
                        xaxis: {
                            categories: []
                        },
                        title: {
                            text: '날짜별 품목별 평균가격'
                        },
                    }
                    var viewoption_chart2 = {
                        PUMMOK: ['감귤', '감자', '배추']
                    }

                    // 표시용 데이터를 분류하고, 그래프를 그린다.
                    function render_chart2(series) {
                        let classified_series = classify_chart2_data(series.series);

                        options_chart2.series = classified_series;
                        options_chart2.xaxis.categories = series.categories;

                        var chart = new ApexCharts(document.querySelector("#chart2"), options_chart2);
                        chart.render();
                    }

                    function classify_chart2_data(series) {
                        var classified_series = [];
                        var temp_viewoption_chart2 = viewoption_chart2.PUMMOK;

                        // console.log(series);
                        // console.log(series.categories);
                        // console.log(series.series);

                        // console.log(temp_viewoption_chart2);

                        for (var i = 0; i < series.length; i++) {
                            if (temp_viewoption_chart2.length == 0) {
                                break;
                            }

                            var data = series[i];

                            // console.log(data);
                            // console.log(data.name); 
                            // console.log(data.data);

                            const isValuePresent = temp_viewoption_chart2.includes(data.name);
                            // console.log(temp_viewoption_chart2.length);

                            if (isValuePresent) {
                                classified_series.push(data);
                                // console.log(data.name);
                                temp_viewoption_chart2 = temp_viewoption_chart2.filter((value) => value !== data.name);
                            }
                        }

                        return classified_series;
                    }
                </script>

                <!-- sg-data1/0403-0408/date_pummok_uun.json -->
                <div id="chart3" style="padding:0 200px"></div>
                <script>
                    var options_chart3 = {
                        series: [{
                            name: 'PRODUCT A',
                            data: [44, 55, 41, 67, 22, 43]
                        }, {
                            name: 'PRODUCT B',
                            data: [13, 23, 20, 8, 13, 27]
                        }, {
                            name: 'PRODUCT C',
                            data: [11, 17, 15, 15, 21, 14]
                        }, {
                            name: 'PRODUCT D',
                            data: [21, 7, 25, 13, 22, 8]
                        }],
                        chart: {
                            type: 'bar',
                            height: 350,
                            stacked: true,
                            toolbar: {
                                show: true
                            },
                            zoom: {
                                enabled: true
                            }
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                legend: {
                                    position: 'bottom',
                                    offsetX: -10,
                                    offsetY: 0
                                }
                            }
                        }],
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                borderRadius: 10,
                                dataLabels: {
                                    total: {
                                        enabled: true,
                                        style: {
                                            fontSize: '13px',
                                            fontWeight: 900
                                        }
                                    }
                                }
                            },
                        },
                        xaxis: {
                            type: 'datetime',
                            categories: ['01/01/2011 GMT', '01/02/2011 GMT', '01/03/2011 GMT', '01/04/2011 GMT',
                                '01/05/2011 GMT', '01/06/2011 GMT'
                            ],
                        },
                        legend: {
                            position: 'right',
                            offsetY: 40
                        },
                        fill: {
                            opacity: 1
                        },
                        title: {
                            text: '날짜별 품목별 거래량'
                        },
                    };
                    var viewoption_chart3 = {
                        PUMMOK: ['감귤', '감자', '배추']
                    }

                    function render_chart3(series) {
                        let classified_series = classify_chart3_data(series.series);
                        let converted_categories = convert_date(series.categories);

                        // console.log(series);
                        options_chart3.series = classified_series;
                        options_chart3.xaxis.categories = converted_categories;

                        var chart = new ApexCharts(document.querySelector("#chart3"), options_chart3);
                        chart.render();
                    }

                    function classify_chart3_data(series) {
                        var classified_series = [];
                        var temp_viewoption_chart3 = viewoption_chart3.PUMMOK;

                        // console.log(series);
                        // console.log(series.categories);
                        // console.log(series.series);

                        // console.log(temp_viewoption_chart3);

                        for (var i = 0; i < series.length; i++) {
                            if (temp_viewoption_chart3.length == 0) {
                                break;
                            }

                            var data = series[i];

                            // console.log(data);
                            // console.log(data.name); 
                            // console.log(data.data);

                            const isValuePresent = temp_viewoption_chart3.includes(data.name);
                            // console.log(temp_viewoption_chart3.length);

                            if (isValuePresent) {
                                classified_series.push(data);
                                // console.log(data.name);
                                temp_viewoption_chart3 = temp_viewoption_chart3.filter((value) => value !== data.name);
                            }
                        }

                        return classified_series;
                    }

                    function convert_date(categories) {
                        let converted_categories = [];

                        for (var i = 0; i < categories.length; i++) {
                            // console.log(categories[i]);
                            // console.log(categories[i].slice(0, 4));
                            // console.log(categories[i].slice(4, 6));
                            // console.log(categories[i].slice(6, 8));

                            var year = categories[i].slice(0, 4);
                            var month = categories[i].slice(4, 6);
                            var day = categories[i].slice(6, 8);

                            // var date = new Date(categories[i]);
                            // var year = date.getFullYear();
                            // var month = date.getMonth() + 1;
                            // var day = date.getDate();

                            var converted_date =  month + '/' + day + '/' + year + ' GMT';
                            converted_categories.push(converted_date);
                        }

                        return converted_categories;
                    }
                </script>

            </section>


    </main>
    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>