<aside>
    <h2>Side Navbar</h2>
    <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
    </ul>
</aside>
<section>
    <h2>Contents</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae velit eget massa consectetur
        ullamcorper quis eu nisl. Fusce quis justo euismod, molestie eros vel, aliquam arcu. Aenean euismod,
        nisi non tempus bibendum, nisl tellus aliquam lectus, id luctus nibh lorem nec ipsum. Sed vel augue id
        metus luctus convallis. Ut sodales vel velit sit amet malesuada. Morbi convallis luctus ante, nec
        volutpat elit laoreet at. Etiam nec metus et lectus tincidunt vestibulum.</p>
</section>